<mat-toolbar class="mat-elevation-z2">

  <div [ngClass]="{'container': !wide, 'header': true}">

    <a [routerLink]="['']" class="header__title">CI/CD Quickstart Example</a>

    <span class="fill"></span>


    <button [matMenuTriggerFor]="menu" class="mobile-nav" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
    </mat-menu>

  </div>
</mat-toolbar>
