@import '../../../../styling/app-theme';

.mat-toolbar {
  z-index: 1;
  color: white;
  background: linear-gradient(45deg, mat-color($app-theme-primary, 400), mat-color($app-theme-primary, 600));
}

.header {
  display: flex;
  width: 100%;
  align-items: center;

  .fill {
    flex: 1 1 auto;
  }

  .header__title {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
  }

  .header__title,
  .desktop-nav {
    text-decoration: none;
    color: inherit;
  }

  .mobile-nav {
    margin-right: 10px;
    margin-left: -5px;
    display: none;
  }
}

.menu__action {
  width: 100%;
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 767px) {
  .header {
    padding: 0;

    .mobile-nav {
      display: block;
      margin: 0;
    }

    .desktop-nav {
      display: none;
    }
  }
}
