@import 'styling/bootstrap';
@import 'styling/app-theme';
@import 'styling/app-variables';
@import url('https://fonts.googleapis.com/css?family=Quicksand|Open+Sans');

p,
a,
span,
div,
button,
table,
mat-card-content,
mat-card,
mat-card-subtitle {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
mat-card-title {
  font-family: 'Quicksand', sans-serif;
}

mat-card-title > * {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-color: $app-white;
  width: 100vw;
  overflow-x: hidden;

  a {
    color: $app-accent;
  }
}

.mat-snack-bar-container {
  margin: 0 auto 15px auto !important;
  width: fit-content !important;
  border-radius: 30px !important;
  background: linear-gradient(45deg, mat-color($app-theme-primary, 400), mat-color($app-theme-primary, 600)) !important;
  color: $app-white !important;

  .mat-simple-snackbar {
    font-family: 'Open Sans', sans-serif !important;
    text-align: center !important;
    justify-content: center !important;
  }
}

@media (max-width: 1024px) {
  .mat-snack-bar-container {
    min-width: 100px;
    margin: 0 auto 4px auto !important;
    max-width: 94% !important;
  }
}

mat-form-field[floatPlaceholder='never'] {
  .mat-form-field-infix {
    border-top: none;
  }
}

// ignore input autofill yellow background
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.card-content .agm-map-container-inner {
  margin: 0 -24px;
}

@media (max-width: 600px) {
  .card-content .agm-map-container-inner {
    margin: 0 -16px;
  }
}

.mat-snack-bar-container {
  background: rgba($app-grey, 0.9);
  color: $app-black;
}

.custom-card-container {
  margin-right: 0;

  div {
    padding-right: 0;

    .mat-card {
      margin: 0;
    }
  }
}

.same-height {
  div {
    .mat-card {
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .mat-card-content {
        display: flex;
        flex: 1;
      }
    }
  }
}

.ellipses {
  white-space: nowrap !important;
  overflow: hidden;
  text-overflow: ellipsis;
}
