<app-header (onSidenavToggled)="sidenav.toggle()" [wide]="true"></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="opened" [mode]="navMode" class="mat-elevation-z2">
    <app-navigation></app-navigation>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="p-4 px-5">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
