@import '../../../../styling/app-variables';

.main-nav {
  width: 12vw;
  min-width: 250px;
  padding-top: 20px;
  overflow-x: hidden;

  .mat-list-item {
    white-space: nowrap;

    mat-icon {
      margin-right: 10px;
      color: #545454;
    }
  }

  .active-link {
    background: $app-grey !important;

    &.mat-list-item-focus {
      background: inherit;
    }
  }

  .sub-nav {
    padding-top: 0;
    box-sizing: border-box;

    .mat-list-item {
      padding-left: 20px;
      height: 44px;
      font-size: 14px;
    }

    .active-link {
      color: $app-accent;

      .mat-icon {
        color: $app-accent;
      }
    }
  }
}
