<!--<mat-nav-list class="main-nav">-->
  <!--<a mat-list-item routerLink="/dashboard" routerLinkActive="active-link">-->
    <!--<mat-icon>insert_chart</mat-icon>-->
    <!--Dashboard-->
  <!--</a>-->

  <!--<a mat-list-item routerLink="/settings" routerLinkActive="active-link">-->
    <!--<mat-icon>settings</mat-icon>-->
    <!--Einstellungen-->
  <!--</a>-->

<!--</mat-nav-list>-->
