<div class="flex-container">
  <h1>CI/CD Quickstart Example App</h1>
  <button
    (click)="testApiRequest()"
    color="primary"
    mat-raised-button
  >
    Test API
  </button>
  <p>This is the API Result<span>{{(res$ | async)?.name}}</span></p>
</div>
